#header-img {
 width: 30%;
 display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  text-shadow: 1px;
  display: block;
}

.image-txt-container {
  position: relative;
  text-align: center;
  color: white;
}

footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  color: white;
  text-align: center;
}

.prod-image {
  width:10%;
  height:10%;
}

#h2-font {
  font-weight: bold;
  font-size: 200%;
  text-shadow: 3px 3px green;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
}

#nav-bar {

  display: flex;
  background-color: black;
}

@media screen and (max-width:992px) {
  .nav-bar{
    flex-direction: column;
    text-align: right;
  }

  header{
    display:none;
  }
}

body {
    margin:0;
    /* The image used */

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

* {
    text-decoration: none;
}

body, html {
    height: 100%;
    font-family: 'Verdana';
}

.nav-link {
  padding-top:2%;
  margin-left:10%;
  margin-bottom:2%;
  font-size: 90%;
  color:white;
  font-weight: lighter;
}

.flex-box {
  flex-direction: row;
  margin-right: 2%;
  color:white;
}

.container-f {
  margin-top:2%;
}
.container {
display: flex;
margin-left: 40%;

}

.product-img {
  width: 50%;
  height: 50%;
}
