#header-img {
  width:100%;
  height: 100%;
}

body {
    background-image: url('https://www.mayfieldvillage.com/includes/uploads/photogalleryphotos/bg-orange.jpg');
    background-size: cover;
    margin:0;
}
