

* { 
  background: url("../../assets/images/doge.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: none;
  color: white;
}

img {
  transform:skewX(-32deg);
  width:10%;
  height:10%;
}
