html * {
font-family: 'Cormorant Unicase', serif;


}

.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}

header {



}

body {
  background: linear-gradient(135deg, lightblue, lightgreen 60%, cyan);
  background-position: center;

}
