html * {
font-family: 'Cormorant Unicase', serif;
background-image: url('./src/assets/images/vtec.jpg');

}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
}

header {

}

body {


}
